# Web framework
fastapi==0.115.12
uvicorn==0.34.2

# Environment variables
python-dotenv==1.1.0

# Redis vector store
redis==5.3.0
langchain-community==0.3.24

# LangChain core
langchain==0.3.25

# Google GenAI connector
langchain-google-genai==2.1.4
google-ai-generativelanguage==0.6.18

# PDF parsing
PyMuPDF==1.26.0

# Database client
pymongo==4.13.0

# HTTP requests
requests==2.32.3
python-multipart==0.0.20

pinecone-client>=3.0.0
langchain>=0.1.0
langchain-pinecone>=0.0.3

upstash-vector==0.8.0  # or the latest compatible version

cryptography

pdf2image==1.17.0
pillow==11.2.1


opencv-python==4.11.0.86
numpy==2.2.6

pytesseract==0.3.13


TextBlob==0.19.0 
joblib==1.5.1 
nltk==3.9.1

clean-text==0.6.0 
emoji==1.7.0 
ftfy==6.3.1 
wcwidth==0.2.13